streamlit
python-dotenv
pdfminer.six
nltk
streamlit-tags
azure-storage-blob
python-dateutil
groq
bcrypt
spacy
scikit-learn  # For semantic similarity calculations
sentence-transformers # For generating text embeddings
